#root {
  width: 100%;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
/*---------------------menu css---------------------*/
.menu {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 2rem;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.menu button {
 padding: 5px 16px;
}

.pointer {
  cursor:all-scroll;
}
/*---------------------End of menu css---------------------*/
/* ----------------------------table --------------------------*/

.usersTable {
  border-collapse: collapse;
  width: 100%;
  font-family:Arial, Helvetica, sans-serif;
  margin: 15px 0;
}

.usersTable hr {
  background-color: #f2ffbb;
  padding: 5px;
  text-align:center;
}

.usersTable td {
  padding: 5px;
  border-bottom: 1px solid black;
}

/* ----------------------------End of table CSS --------------------------*/
